fastapi
uvicorn
pymongo
PyJWT

numpy
pandas
opencv-python
pillow
pytesseract
pdf2image
pymupdf

scikit-learn
scipy

torch>=2.5.1
torchvision>=0.20.1

# SAM3 Segmentation
sam2
huggingface-hub

shapely
matplotlib
requests
tqdm
ollama
python-dotenv
openpyxl
gradio
